<div class="gobmx-footer">
  <div class="gobmx-footer-container">
    <div class="gobmx-footer-sections">
      <div class="gobmx-row">
        <div class="gobmx-footer-section">
          <div class="gobmx-footer-heading">Enlaces</div>
          <ul>
            <li><a href="https://www.gob.mx/accesibilidad">Declaración de Accesibilidad</a></li>
            <li><a href="https://www.gob.mx/privacidad">Política de privacidad</a></li>
            <li><a href="https://www.gob.mx/terminos">Términos y Condiciones</a></li>
            <li><a href="http://www.ordenjuridico.gob.mx">Marco Jurídico</a></li>
            <li><a href="http://portaltransparencia.gob.mx">Portal de Obligaciones de Transparencia</a></li>
            <li><a href="https://www.infomex.org.mx/gobiernofederal/home.action">Sistema Infomex</a></li>
            <li><a href="http://inicio.ifai.org.mx/SitePages/ifai.aspx">INAI</a></li>
            <li><a href="https://www.gob.mx/sitemap">Mapa de sitio</a></li>
          </ul>
        </div>
        <div class="gobmx-footer-section">
          <div class="gobmx-footer-heading">¿Qué es gob.mx?</div>
          <p>Es el portal único de trámites, información y participación ciudadana. <a href="/que-es-gobmx">Leer más</a></p>
          <ul>
            <li><a href="https://www.gob.mx/en/index" title="Versión en inglés del sitio web">English</a></li>
            <li><a href="https://www.gob.mx/temas">Temas</a></li>
            <li><a href="http://reformas.gob.mx">Reformas</a></li>
          </ul>
        </div>
        <div class="gobmx-footer-section">
          <div class="gobmx-footer-heading">Contacto</div>
          <p>Mesa de ayuda: dudas e información <br> gobmx@funcionpublica.gob.mx</p>
          <p><a href="https://www.gob.mx/tramites/ficha/presentacion-de-quejas-y-denuncias-en-la-sfp/SFP54">Denuncia contra servidores públicos</a></p>
        </div>
      </div>

      <div class="gobmx-row">
        <div class="gobmx-footer-section gobmx-footer-section-newsletter">
          <div class="gobmx-footer-heading">Mantente informado. Suscríbete.</div>
          <img src="http://cosdac.sems.gob.mx/portal/image/Sin%20t%C3%ADtulo-2.png">
        </div>

        <div class="gobmx-footer-section">
          <div class="gobmx-footer-heading">Síguenos en</div>
          <div class="gobmx-footer-socials">
            <a href="https://www.facebook.com/gobmx">
              <img src="../img/icons/facebook.png">
            </a>
            <a href="https://twitter.com/gobmx">
              <img src="../img/icons/twitter.png">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="gobmx-row">
      <div class="gobmx-footer-logo gobmx-footer-logo-gobmx">
        <img alt="logotipo gob.mx" src="../img/logo.svg" width="126" height="39">
      </div>
    </div>
  </div>
</div>
