<!-- .gobmx-header-navbar -->
<div class="gobmx-header-navbar" data-role="page">
  <!-- .gobmx-header-container -->
  <div class="gobmx-header-container" data-role="header" data-position="fixed">
    <!-- .gobmx-row -->
    <div class="gobmx-row">
      <!-- .gobmx-header-navbar-header -->
      <div class="gobmx-header-navbar-header">
        <!-- .gobmx-header-navbar-brand -->
        <a class="gobmx-header-navbar-brand" href="https://www.gob.mx/">
          <img src="../img/logo-mini.svg">
        </a><!-- /.gobmx-header-navbar-brand -->

        <!-- .gobmx-header-navbar-toggle -->
        <a href="#" class="gobmx-header-navbar-toggle gobmx-collapsed" data-toggle="collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a><!-- /.gobmx-header-navbar-toggle -->
      </div>
      <!-- /.gobmx-header-navbar-header -->
      
      <!-- .gobmx-header-navbar-collapse -->
      <div class="gobmx-header-navbar-collapse gobmx-collapse">
        <!-- .gobmx-header-navbar-nav -->
        <ul class="gobmx-header-navbar-nav">
          <li>
            <a href="http://www.gob.mx/tramites">Trámites</a>
          </li>
          <li>
            <a href="http://www.gob.mx/gobierno">Gobierno</a>
          </li>
          <li>
            <a href="http://www.gob.mx/participa">Participa</a>
          </li>
          <li>
            <a href="https://datos.gob.mx/">Datos</a>
          </li>
          <li>
            <a href="http://www.gob.mx/busqueda">
              <img src="../img/icons/search.svg" width="20">
            </a>
          </li>
        </ul><!-- /.gobmx-header-navbar-nav -->
      </div><!-- /.gobmx-header-navbar-collapse -->
    </div><!-- /.gobmx-row -->
  </div><!-- /.gobmx-header-container -->
</div><!-- /.gobmx-header-navbar -->
